<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
               "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ye.mapper.UserMapper">

    <resultMap id="user" type="com.ye.pojo.User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="email" column="email"/>
    </resultMap>

    <sql id="selectAll">
        select id, `name`, age, email from user
    </sql>

    <select id="selectByAge" parameterType="int" resultType="com.ye.pojo.User">
        <include refid="selectAll"/>
        <where>
            <if test="age != null and age != ''">
               and age = #{age}
            </if>
        </where>
    </select>
</mapper>